<div class='lists-page col-md-5 col-md-offset-4'>
	<p>This item belongs to <%= link_to @list.name, list_path(@list) %><p/>
	<h2><%= @item.title %></h2>
	<% if @item.completed %>
		You completed this on <%= @item.completed_date %>!
		<% if @item.image_file_name %>
			<br>
			<div class='image-size'><%= image_tag @item.image.url, class: 'image' %></div>
			<p><%= button_to 'Remove Image', remove_image_path(id: @item.id, list_id: @list.id) %></p>
		<% else %>
			<h3>Upload Proof!</h3>
			<%= form_for [@list, @item], html: { multipart: true } do |f| %>
			  <%= f.file_field :image %>
			  <br>
			  <%= f.submit 'Upload'%>
			<% end %>
		<% end %>
	<% else %>
		Goal to complete by: <%= @item.complete_by %>
		<%= render 'mark_complete', item: @item %>
	<% end %>

	<hr class='hr-line'>
		<div class='button-align-items'>
			<button class="btn btn-primary link-buttons">
				<%= link_to 'Delete this item', list_item_path(@list, @item), method: :delete %>
			</button>
			<button class="btn btn-primary link-buttons">
				<%= link_to 'Edit item', edit_list_item_path(@list, @item) %>
			</button>
			<button class="btn btn-primary link-buttons">
				<%= link_to 'Back to lists', list_path(@list) %>
			</button>
		</div>
</div>
